.header__socials {
    display: flex;
    flex-direction: column;
    gap: 28px;
    align-items: center;
    pointer-events: all;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(0, -50%);

    @media (max-width: 767px) {
        display: none;
    }
    
    @media (max-height: 600px) {
        top: 40%;
    }
}