.header__slider-controls {
    position: absolute;
    right: 0;
    bottom: 0;
    pointer-events: all;
    display: flex;
    flex-direction: column;
    gap: 15px;

    @media (max-width: 1023px) {
        display: none;
    }
}

.slider-controls__arrows {
    display: flex;
    gap: 6px;
    opacity: 0.3;
}

.slider-controls__count {
    display: flex;
    gap: 6px;
    justify-content: flex-end;
    align-items: flex-end;
    color: rgba($color: #fff, $alpha: 0.3);
    font-size: 18px;
    font-weight: 600;
}

.count__curent, .swiper-pagination-current {
    font-size: 32px;
    font-weight: 600;
    line-height: normal;
    color: #fff; 
}
