@mixin background-size {
    background-size: cover !important;
    background-repeat: no-repeat !important;
}

.slide {
    height: 100vh;
    padding-bottom: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &--norway {
        background: radial-gradient(at 50% 50%, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.20) 100%),
            linear-gradient(181deg, rgba(0, 0, 0, 0.20) 0.91%, rgba(255, 255, 255, 0.00) 116.71%, rgba(255, 255, 255, 0.00) 116.72%), url('./../img/slider-bg/01.jpg');
            @include background-size;
    }

    &--austria {
        background: radial-gradient(50% 50% at 50% 50%, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.20) 100%), linear-gradient(181deg, rgba(0, 0, 0, 0.20) 0.91%, rgba(255, 255, 255, 0.00) 116.71%, rgba(255, 255, 255, 0.00) 116.72%), url('./../img/slider-bg/02.jpg');
        @include background-size;
    }


    &--uae {
        background: radial-gradient(50% 50% at 50% 50%, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.20) 100%), linear-gradient(181deg, rgba(0, 0, 0, 0.20) 0.91%, rgba(255, 255, 255, 0.00) 116.71%, rgba(255, 255, 255, 0.00) 116.72%), url('./../img/slider-bg/03.jpg');
        @include background-size;
    }


    &--thailand {
        background: radial-gradient(50% 50% at 50% 50%, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.20) 100%), linear-gradient(181deg, rgba(0, 0, 0, 0.20) 0.91%, rgba(255, 255, 255, 0.00) 116.71%, rgba(255, 255, 255, 0.00) 116.72%), url('./../img/slider-bg/04.jpg');
        @include background-size;
    }


    &--morocco {
        background: radial-gradient(50% 50% at 50% 50%, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.20) 100%), linear-gradient(181deg, rgba(0, 0, 0, 0.20) 0.91%, rgba(255, 255, 255, 0.00) 116.71%, rgba(255, 255, 255, 0.00) 116.72%), url('./../img/slider-bg/05.jpg');
        @include background-size;
    }

    &::before {
        content: '';
    }

    cursor: grab;

    &:active {
        cursor: grabbing;
    }

    @media (max-width: 1200px) {
        padding-bottom: 60px;
    }

    @media (max-width: 767px) {
        padding-top: 100px;
        padding-bottom: 40px;
    }
}

.slide__header {
    text-align: center;
    position: relative;
}

.slide__tagline {
    position: absolute;
    width: 100%;
    top: -8px;
    color: rgba(255, 255, 255, 0.70);
    font-size: 1.56vw;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 16.5px;
}

.slide__title {
    font-size: 13vw;
    font-weight: 700;

    &--norway span {
        background: linear-gradient(47.06deg,
                #051d27 -3.87%,
                rgba(255, 255, 255, 0) 20.89%),
            #fff;
    }

    &--austria span {
        background: linear-gradient(47.06deg,
                #122127 -3.87%,
                rgba(255, 255, 255, 0) 20.89%),
            #fff;
    }

    &--uae span {
        background: linear-gradient(47.06deg,
                #aa6621 -3.87%,
                rgba(255, 255, 255, 0) 20.89%),
            #fff;
    }

    &--thailand span {
        background: linear-gradient(47.06deg,
                #2e7c88 -3.87%,
                rgba(255, 255, 255, 0) 20.89%),
            #fff;
    }

    &--morocco span {
        background: linear-gradient(47.06deg,
                #757575 -3.87%,
                rgba(255, 255, 255, 0) 20.89%),
            #fff;
    }

    span {
        padding: 0 10px;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    @media (max-width: 767px) {
        pfont-size: 19vw;
    }
}

.slide__locations {
    display: flex;
    justify-content: center;
    width: 80%;
    margin: 0 auto;
    gap: 30px;

    @media (max-width: 1023px) {
        width: 90%;
    }

    @media (max-width: 767px) {
        flex-direction: column;
        gap: 20px;
    }
}

.location__card {
    position: relative;
    display: block;
    padding: 34px 20px 26px 95px;
    flex-grow: 1;
    background-image: url('./../img/icons/map-marker-line.svg');
    background-repeat: no-repeat;
    background-position: 35px 40px;

    @media (max-width: 1400px) {
        padding: 20px 20px 18px 55px;
        background-position: 15px 22px;
    }

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 5px;
        opacity: 0.1;
        background: #FFF;
        filter: blur(3px);
    }
}

.location__title {
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    line-height: normal;

    @media (max-width: 1400px) {
        font-size: 18px;
    }
}

.location__subtitle {
    font-size: 16px;
    font-weight: 400;
    opacity: 0.4;
}