.header__scrollbar {
    pointer-events: all;
    position: absolute;
    right: 0;
    top: 50%;
    width: 400px;
    transform: rotate(90deg) translate(50%, 0);
    transform-origin: right top;

    
    @media (min-width: 768px) and (max-height: 700px) {
        width: 300px;
    }

    @media (max-width: 767px) {
        transform: none;
        top: unset;
        bottom: -15px;
        left: 0;
        right: unset;
        width: 100%;
    }
}

.swiper-scrollbar {
    height: 2px !important;
    border-radius: 0 !important;
    background-color: rgba(255, 255, 255, 0.3) !important;
}

.swiper-scrollbar-drag {
    border-radius: 0 !important;
    background-color: rgba(255, 255, 255) !important;
}